<h1>CREAR PROYECTO</h1>
<!--action corresponde a la direccion de la vista create-->
<form method='get' action='/projects/create' id="create_project">

    <div class='form-group'>    
        <label for="title">NOMBRE:</label> 
        <input name="name" class="form-control" id="NAME" placeholder="name" >
    </div>

    <div class='form-group'>    
        <label for="content">DESCRIPCION:</label>  
        <textarea name='description' class="form-control" placeholder="description"></textarea>
    </div>
    <!--type date para las fechas en HTML-->
     <div class='form-group'>    
        <label for="title">FECHA DE INICIO:</label> 
        <input type="date" name="start_date" class="form-control" id="start_date" placeholder="start date" >
    </div>

    <div class='form-group'>    
        <label for="title">FECHA DE TERMINO:</label> 
        <input type="date" name="end_date" class="form-control" id="end_date" placeholder="end date" >
    </div>

    <div class='form-group'> 
        <select name="estadopr" class="form-control"  class="custom-select custom-select-sm">
            <option selected> Popuesta</option>
            <option value="Propuesta">Popuesta</option>
            <option value="En Progreso">En Progreso</option>
            <option value="Terminado">Terminado</option>
        </select>
    </div>
    <br>
    <div class='form-group'>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>